
  @keyframes slideMask {
    0% {clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);}
    17% {z-index: 7;clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);}
    24% {z-index: 7;clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
    32% {z-index: 0;}
    100% {clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
  }
  @keyframes slideMove {
    0% {transform: translateX(0%);}
    24% {transform: translateX(-15%);}
    79% {transform: translateX(-15%);}
    80% {transform: translateX(-2%);}
    100% {transform: translateX(0%);}
  }
  @keyframes slideFade {
    0% {opacity: 1;}
    18% {opacity: 1;}
    24% {opacity: 0;}
    79% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 1;}
  }


.t-mv__area .mv-slider .mv-slide:first-child{
  -webkit-animation: slideMask 30s ease infinite;
  animation: slideMask 30s ease infinite;
  z-index: 5;
}
.t-mv__area .mv-slider .mv-slide:nth-child(2){
  -webkit-animation: slideMask 30s ease infinite;
  animation: slideMask 30s 5s ease infinite;
  z-index: 4;
}
.t-mv__area .mv-slider .mv-slide:nth-child(3){
  -webkit-animation: slideMask 30s ease infinite;
  animation: slideMask 30s 10s ease infinite;
  z-index: 3;
}
.t-mv__area .mv-slider .mv-slide:nth-child(4){
  -webkit-animation: slideMask 30s ease infinite;
  animation: slideMask 30s 15s ease infinite;
  z-index: 2;
}
.t-mv__area .mv-slider .mv-slide:nth-child(5){
  -webkit-animation: slideMask 30s ease infinite;
  animation: slideMask 30s 20s ease infinite;
  z-index: 1;
}

.t-mv__area .mv-slider .mv-slide:first-child .mv-slide__inner{
  -webkit-animation: slideMove 30s linear infinite;
  animation: slideMove 30s linear infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(2) .mv-slide__inner{
  -webkit-animation: slideMove 30s 5s linear infinite;
  animation: slideMove 30s 5s linear infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(3) .mv-slide__inner{
  -webkit-animation: slideMove 30s 10s linear infinite;
  animation: slideMove 30s 10s linear infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(4) .mv-slide__inner{
  -webkit-animation: slideMove 30s 15s linear infinite;
  animation: slideMove 30s 15s linear infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(5) .mv-slide__inner{
  -webkit-animation: slideMove 30s 20s linear infinite;
  animation: slideMove 30s 20s linear infinite;
}

.t-mv__area .mv-slider .mv-slide:first-child .mv-slide__inner img{
  -webkit-animation: slideFade 30s ease infinite;
  animation: slideFade 30s ease infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(2) .mv-slide__inner img{
  -webkit-animation: slideFade 30s 5s ease infinite;
  animation: slideFade 30s 5s ease infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(3) .mv-slide__inner img{
  -webkit-animation: slideFade 30s 10s ease infinite;
  animation: slideFade 30s 10s ease infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(4) .mv-slide__inner img{
  -webkit-animation: slideFade 30s 15s ease infinite;
  animation: slideFade 30s 15s ease infinite;
}
.t-mv__area .mv-slider .mv-slide:nth-child(5) .mv-slide__inner img{
  -webkit-animation: slideFade 30s 20s ease infinite;
  animation: slideFade 30s 20s ease infinite;
}
